<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suitestck">
  <test name="erp">
    <classes>
      <class name="com.ERP.Masters.stckcat"/>
      <class name="com.ERP.Masters.Exeng"/>
    </classes>
  </test> <!-- erp -->
</suite> <!-- Suitestck -->
